<a href="https://colab.research.google.com/github/Saz1978/Pandas-Exercises/blob/main/Baby_Names_SA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [4]:
url='https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv'
baby_names = pd.read_csv(url)

### Step 4. See the first 10 entries

In [20]:
baby_names.head(10)

      Id      Name  Year Gender State  Count
0  11350      Emma  2004      F    AK     62
1  11351   Madison  2004      F    AK     48
2  11352    Hannah  2004      F    AK     46
3  11353     Grace  2004      F    AK     44
4  11354     Emily  2004      F    AK     41
5  11355   Abigail  2004      F    AK     37
6  11356    Olivia  2004      F    AK     33
7  11357  Isabella  2004      F    AK     30
8  11358    Alyssa  2004      F    AK     29
9  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [22]:
del baby_names["Unnamed: 0"]

KeyError: ignored

### Step 6. Is there more male or female names in the dataset?

In [24]:
del baby_names["Id"]
baby_names.head()

      Name  Year Gender State  Count
0     Emma  2004      F    AK     62
1  Madison  2004      F    AK     48
2   Hannah  2004      F    AK     46
3    Grace  2004      F    AK     44
4    Emily  2004      F    AK     41

In [28]:
baby_names.value_counts("Gender")

Gender
F    558846
M    457549
dtype: int64

### Step 7. Group the dataset by name and assign to names

In [29]:
names = baby_names.groupby("Name")

### Step 8. How many different names exist in the dataset?

In [30]:
baby_names.Name.nunique()

17632

### Step 9. What is the name with most occurrences?

In [33]:
names.Count.sum().sort_values(ascending=False)

Name
Jacob       242874
Emma        214852
Michael     214405
Ethan       209277
Isabella    204798
             ...
Janira           5
Arsalan          5
Lizvet           5
Janisha          5
Destenie         5
Name: Count, Length: 17632, dtype: int64

### Step 10. How many different names have the least occurrences?

In [36]:
(names.Count.sum() ==5).sum()

2578

### Step 11. What is the median name occurrence?

In [38]:
names.Count.sum().median()

49.0

### Step 12. What is the standard deviation of names?

In [ ]:
names.Count.std()

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [ ]:
names.describe()